<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iDollbom_마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <link rel="stylesheet" th:href="@{/css/myPage/parent/mypage_myPost.css}">
</head>

<body>
    <div id="header" th:replace="~{/layout/header_parents :: header_parents}"></div>
    <div class="container">
        <div class="inincontainer">
            <div class="mypage-main">마이페이지 > 내가쓴 게시글</div>
            <!-- 사이드바 -->
            <div class="incontainer">
                <div class="menu-bar">
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/kids}">아이정보 추가</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/myInformation}">내정보 수정</a>
                    </div>
                    <hr class="custom-hr">
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/reportPage}">신고 목록</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/classSave}">수업찜 목록</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/myPost}">내가쓴 게시글</a>
                    </div>
                    <div class="menu-bar-option">
                        <p>내 문의</p>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/Review}">내 리뷰</a>
                    </div>
                    <hr class="custom-hr">
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/myPayment}">결제 내역</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/ParentMyPage/myNote}">쪽지함</a>
                    </div>
                    <!-- 프로필 -->
                    <div class="myprofile">
                        <div class="profileimage">
                            <img th:src="@{/images/ff581d78778b7.png}" alt="profileImage" class="img">
                        </div>
                        <div class="Nickname">
                            닉네임
                        </div>
                        <div class="buttonbox">
                            <a href="#">
                                <button class="btn-block" type="button">로그아웃</button>
                            </a>
                        </div>
                    </div>
                    <!-- 게시글박스 -->
                </div>
                <div th:if="${not #lists.isEmpty(myPost)}">
                    <div class="mainbox" th:each="post:${myPost}">
                        <a th:href="@{/board/freeBoardDetail_parent.html}">
                            <div class="mypost" >
                                <div th:text="${post.parentPostTitle}">
                                </div>
                                <p th:text="${post.parentPostContent}"></p>
                                <p th:text="${#dates.format(post.parentPostUpdateDate,'yyyy-MM-dd HH:mm:ss')}"></p>
                            </div>
                        </a>
                    </div>
                </div>
                <p th:if="${#lists.isEmpty(myPost)}">저장한 게시글이 아직 없습니다.</p>
            </div>
        </div>
    </div>
    
    <div id="footer" th:replace="~{/layout/footer :: footer}"></div>
</body>

</html>