<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/layout/header.css">
    <title>IDOLL봄</title>
</head>

<body>
    <header id="header" th:fragment="header_parents">
        <div class="header_wrap">
            <h1><a th:href="@{/parentmain}"><img th:src="@{/images/logo.png}" alt="IDOLL봄"></a></h1>

            <nav>
                <ul class="gnb">
                    <li>
                        <a th:href="@{/parentmain}">부모님</a>
                        <!-- 부모가 로그인 한 것이 아니라면 화면에 표시 X -->
                        <ul th:if="${role == 'parent'} or ${userRole == 'parent'}">
                            <li><a th:href="@{/match}">매칭</a></li>
                        </ul>
                    </li>
                    <li>
                        <a target="_blank" th:href="@{/promain}">전문가</a>
                    </li>
                    <li>
                        <!-- 신청하기 기본 페이지 : 돌봄 -->
                        <a th:href="@{/class/classcare}">신청하기</a>
                        <ul>
                            <li><a th:href="@{/class/classcare}">돌봄</a></li>
                            <li><a th:href="@{/class/classstudy}">교육</a></li>
                            <li><a th:href="@{/class/classsport}">운동</a></li>
                            <li><a th:href="@{/class/classentertainment}">예능</a></li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/parentcommunity}">커뮤니티</a>
                        <ul>
                            <li><a th:href="@{/parentcommunity}">자유게시판</a></li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/ask/list}">고객센터</a>
                        <ul>
                            <li><a th:href="@{/ask/list}">문의하기</a></li>
                            <li><a href="#">공지사항</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="side">
                <p>
                    <button onclick="goMynote()">
                        <!-- 쪽지함(아이콘)에 쪽지 목록 카운트한 거 보여줌. -->
                        <input th:if="${role == 'parent'}" type="text" th:value="${count}" />
                        <input th:if="${role == 'parent'} and ${noteCount != null}" th:value="${noteCount}" />
                        <img th:src="@{/images/Alarm.png}" alt="알림">
                    </button>
                </p>

                <!-- 로그인하지 않고 들어갈 때 보여줄 div -->
                <div sec:authorize="!isAuthenticated()" class="logout-status">
                    <p><a th:href="@{/user/login}">로그인</a></p>
                    <p><a th:href="@{/user/signup}">회원가입</a></p>
                </div>

                <!-- 전문가 로그인 한 후 넘어올 때 보여줄 div -->
                <div th:if="${role != 'parent'}" class="logout-status">
                    <p><a th:href="@{/user/login}">로그인</a></p>
                    <p><a th:href="@{/user/signup}">회원가입</a></p>
                </div>

                <div th:if="${role == 'parent'} or ${userRole == 'parent'}" sec:authorize="isAuthenticated()" class="login-status">
                    <div th:if="${parentName != null}">
                        <span th:text="${parentName}"></span>
                        <span style="font-size: 16px;">님</span>
                    </div>
                    <!-- 로그인 기본페이지와 동일하게 마이페이지도 아이등록 페이지로 이동 -->
                    <p><a th:href="@{/ParentMyPage/kids}">마이페이지</a></p>
                    <p><a th:href="@{/user/logout}">로그아웃</a></p>
                </div>

            </div>
        </div>
    </header>
</body>

<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
<script th:src="@{/js/motion.js}"></script>

</html>