<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/layout/header.css">
    <title>IDOLL봄</title>
</head>

<body>
    <header id="header" th:fragment="header_pro">
        <div class="header_wrap">
            <h1><a th:href="@{/parentmain}"><img th:src="@{/images/logo.png}" alt="IDOLL봄"></a></h1>

            <nav>
                <ul class="gnb">
                    <li>
                        <a th:href="@{/pro/register}">수업등록</a>
                    </li>
                    <li>
                        <a th:href="@{/pro/childlist/{proNumber}(proNumber=${4})}">아이찾기</a>
                    </li>
                    <li>
                        <a href="#">자유게시판</a>
                    </li>
                    <li>
                        <a href="#">공지사항</a>
                    </li>
                </ul>
            </nav>
            <div class="side">
                <p>
                    <!-- 전문가 마이 페이지에 쪽지 목록 보는 페이지 없어서 보류 -->
                    <button onclick="goProProfile()">
                        <img th:src="@{/images/Alarm.png}" alt="알림">
                    </button>
                </p>

                <div sec:authorize="!isAuthenticated()" class="logout-status">
                    <p><a th:href="@{/user/login}">로그인</a></p>
                    <p><a th:href="@{/user/proSignup}">회원가입</a></p>
                </div>

                <div sec:authorize="isAuthenticated()" class="login-status">
                    <!-- 전문가 메인 페이지로 이동할 때, 전문가 정보를 받아와서 뿌려줘야 함. -->
<!--                    <span th:text="${pro_info.proName}"></span>-->
<!--                    <span style="font-size: 16px;">님</span>-->
                    <!-- 전문가 마이페이지의 기본 페이지는 나의 프로필 보기로 설정 -->
                    <p><a th:href="@{/proMyPage/profile}">마이페이지</a></p>
                    <p><a th:href="@{/user/logout}">로그아웃</a></p>
                </div>
            </div>
        </div>
    </header>
</body>
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
<script>
    function goProProfile(){
        // window.location.href = '/proMyPage/쪽지';
    }
</script>

</html>