<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/login/kologinpage.css}">
</head>
<body>
<div class="login-container">
    <h3>L O G I N</h3>
    <form id="loginForm">
        <div class="formCss">
            <input type="email" id="email" placeholder="Email" name="userId">
        </div>
        <div class="formCss passwordCss">
            <input type="password" id="password" placeholder="Password" name="password">
            <img th:src="@{/images/visible.png}" alt="Show" class="password-icon visible">
            <img th:src="@{/images/hide.png}" alt="Hide" class="password-icon hide">
            <div class="error-message">
                <img th:src="@{/images/warning.png}" alt="Warning" class="error-icon"> 이메일 또는 비밀번호를 확인해주세요
            </div>
        </div>
        <div class="buttonbox">
            <a th:href="@{/user/signup}">
                <button class="btn-block" id="btn1" type="button">회원가입</button>
            </a>
        </div>
        <div class="formCss">
            <div class="simple-login">간편 로그인</div>
            <div class="social-login">
                <div class="social-box naver">
                    <a href="https://www.naver.com" target="_blank">
                        <img th:src="@{/images/naver.jpeg}" alt="Naver">
                    </a>
                </div>
                <div class="social-box kakao">
                    <a href="https://www.kakao.com" target="_blank">
                        <img th:src="@{/images/kakao.png}" alt="Kakao">
                    </a>
                </div>
                <div class="social-box google">
                    <a href="https://www.google.com" target="_blank">
                        <img th:src="@{/images/google.png}" alt="Google">
                    </a>
                </div>
            </div>
        </div>
        <div class="formCss buttonCss">
            <input type="submit" value="LOGIN">
        </div>
    </form>
</div>
</body>
</html>
