<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>자유 게시판</title>
  <link rel="stylesheet" th:href="@{/css/board/freeBoardForm.css}">
</head>
<body>

<div id="wrapper" class="container">
  <!-- 페이지 전체 제목 -->
  <div class="page-title-wrap">
    <h1>자유 게시판</h1>
    <p>아이의 부모들이 자유롭게 게시글을 작성할 수 있는 게시판입니다.</p>
  </div>

  <!-- 목록 보기 버튼 -->
  <div class="list-btn-wrap">
    <a href="/parentcommunity" class="btn btn-primary">목록 보기</a>
  </div>

  <form class="board-form" th:action="@{/parentcommunity/write}" method="post" enctype="multipart/form-data" th:object="${community}">
    <input type="hidden" th:field="*{parentNumber}">
    <input type="hidden" th:field="*{parentPostNumber}">
    <!-- 게시글 제목 -->
    <div class="post-title-wrap form-group">
      <label for="parentPostTitle">제목</label>
      <input type="text" id="parentPostTitle" class="form-control" name="parentPostTitle" th:field="*{parentPostTitle}" required>
    </div>

    <!-- 게시글 내용 -->
    <div class="post-content-wrap form-group">
      <label for="parentPostContent">내용</label>
      <textarea id="parentPostContent" class="form-control" style="resize: none;" name="parentPostContent" rows="6" th:field="*{parentPostContent}" required></textarea>
    </div>

    <!-- 첨부파일 -->
    <div class="attachment-wrap form-group">
      <label for="parentFiles">첨부파일</label>
      <input type="file" id="parentFiles" class="form-control-file" name="parentFiles" multiple requiredb>
    </div>

    <!-- 게시글 등록 버튼 -->
    <div class="post-submitBtn-wrap form-group">
      <button type="submit" class="btn btn-success" th:text="${community.parentNumber != null} ? '수정하기' : '등록하기'">등록하기</button>
    </div>
  </form>
</div>
</body>
</html>
