@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, button, form, input, textarea, hr, address, b, strong, a, th {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: #000;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background: none;
    border: 0;
}

* {
    font-size: 18px;
    font-family: 'GmarketSansMedium';
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 아이찾기 화면 */
#container {
    padding-top: 130px;
    padding-bottom: 50px;
    background-color: rgba(0,0,0,0.01);
}

.findchild-container {
    padding: 45px;
}

.findchild-text {
    font-size: 25px;
    color: #11e072;
    text-align: center;
    font-family: 'GmarketSansBold';
}

/* 아이찾기 리스트 css */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    transition: 0.3s;
}

table:hover {
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th:nth-of-type(1),
table td:nth-of-type(1){
    width: 60%;
}

table th:nth-of-type(2),
table td:nth-of-type(2){
    width: 25%;
}

table th:nth-of-type(3),
table td:nth-of-type(3){
    width: 15%;
}

table tr{
    transition: 0.3s;
}

table tr:nth-child(even){
    background-color: rgba(0,0,0,0.03);
}

table tr:hover{
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);
}

table th {
    background-color: #f2f2f2;
}

/* class_list 페이지 버튼 */
.class_save_btn{
    width: 300px;
    height: 40px;
    margin: 50px auto;
    display: flex;
}

.class_save_btn img{
    width: 40px;
}

.class_save_btn ul{
    display: flex;
    margin: 0 20px;
}

.class_save_btn ul li{
    line-height: 33px;
    margin: 0 20px;
}

.class_save_btn ul button{
    display: block;
    font-size: 25px;
    width: 25px;
    height: 40px;
    color: #C6C6C6;
}

.class_save_btn ul li:nth-child(1) button{
    color: #048D3B;
    border-bottom: 3px solid;
}

/* 페이지 박스부분 css */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-item .page-link {
    padding: 8px 16px;
    text-decoration: none;
    color: #4CAF50;
    border: 1px solid #ddd;
}

.pagination .page-item .page-link > span{
    cursor: pointer;
}

.pagination .page-item .page-link:hover {
    background-color: #ddd;
}

.pagination .page-item.active .page-link {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination .page-item.disabled .page-link {
    color: #ccc;
    pointer-events: none;
    border: 1px solid #ddd;
}

/* 메일 이미지 css */
td > button{
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
}

td > button > i {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    transition: 0.3s;
    font-weight: bold;
    font-size: 18px;
}

td i:hover{
    color: #0dac58;
}
