<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/apply/class_list.css}">
    <link rel="stylesheet" th:href="@{/css/main/index_parents.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <title>IDOLL봄</title>
</head>

<!-- 대카: 돌봄 -->
<body>
<div th:replace="~{/layout/header_parents :: header}"></div>
    <div id="container">
        <div class="class_list">
            <h2>신청하기</h2>
            <p>우리아이 맞춤 수업을 찾을 수 있습니다</p>

            <div>
                <p>돌봄과 배움을 함께,<br> 우리아이 단짝쌤 찾기</p>
            </div>

            <!-- 뭐가 눌려졌는지에 따라 데이터가 뿌려지는 게 다르다 -->
            <ul>
                <li><button class="category-doll" onclick="categoryClick1()" value="등/하원" th:href="@{class/classes}">등/하원</button></li>
                <li><button class="category-play" onclick="categoryClick2()" value="실내놀이" th:href="@{class/classes/play}">실내놀이</button></li>
                <li><button class="category-book" onclick="categoryClick3()" value="책읽기">책읽기</button></li>
                <li><button class="category-playground" onclick="categoryClick4()" value="놀이터">놀이터</button></li>
                <li><button class="category-experience" onclick="categoryClick5()" value="견학/체험">견학/체험</button></li>
            </ul>

            <div class="class_list_search">
                <p>전체 <span th:text="${count}"></span>건의 게시글이 있습니다.</p>

                <div>
                    <select>
                        <option>전체</option>
                        <option>제목</option>
                        <option>내용</option>
                    </select>

                    <form>
                        <input type="text" placeholder="검색어를 입력해주세요">
                        <input type="image" th:src="@{/images/comu_search.png}" alt="검색하기">
                    </form>
                </div>
            </div>

            <!-- 테이블 위 바 -->
            <div>
                <p>전문가 프로필</p>
                <p>내용</p>
            </div>
            <!-- 데이터 뿌릴 곳 -->
            <table>
                <tbody>
                    <!-- 실제로는 반복돌릴 리스트 보기 편하게 다 붙여놓음 -->
                    <tr th:each="classList : ${classLists}" th:object="${classList}">
                        <td><img th:src="@{/images/class_list_pro.png}"></td>
                        <td>
                            <div>
                                <p th:text="*{proName}">유가람</p>
                                <!--리뷰 점수와 갯수만 보여주자-->
                                <p>(87)</p>
                            </div>
                            <p th:text="*{className}">모든아이의 교육을 책임집니다!</p>
                            <p th:text="*{classContent}">제가 맡은 모든 아이들의 성적이 향상 되었습니다 만족하지 못할 시 환불해드립니다</p>
                            <p th:text="*{proAddress}">강남구 개포동</p>
                            <p>2024.07.01</p>
                        </td>
                        <td><button><img th:src="@{/images/class_list_pick_n.png}"></button>
                            <p><a href="../html/child/studyDetail.html">자세히 보기</a></p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- 페이징 처리 부분 -->
            <div class="class_list_btn">
                <button><img th:src="@{images/pro_button_pre.png}"></button>
                <ul>
                    <li><button>1</button></li>
                    <li><button>2</button></li>
                    <li><button>3</button></li>
                </ul>
                <button><img th:src="@{/images/pro_button_next.png}"></button>
            </div>
        </div>
    </div>
<div th:replace="~{/layout/footer :: footer}"></div>
</body>
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
<script th:src="@{/js/motion.js}"></script>
<script>
    const category1 = document.querySelector('.category-doll')
    const category2 = document.querySelector('.category-play')
    const category3 = document.querySelector('.category-book')
    const category4 = document.querySelector('.category-playground')
    const category5 = document.querySelector('.category-experience')

    // 등/하원 클릭 시
    function categoryClick1(){
        category1.style.color='#048D3B'
        category2.style.color='rgba(0, 0, 0, 0.4)'
        category3.style.color='rgba(0, 0, 0, 0.4)'
        category4.style.color='rgba(0, 0, 0, 0.4)'
        category5.style.color='rgba(0, 0, 0, 0.4)'

    }

    // 실내놀이 클릭 시
    function categoryClick2(){
        category1.style.color='rgba(0, 0, 0, 0.4)'
        category2.style.color='#048D3B'
        category3.style.color='rgba(0, 0, 0, 0.4)'
        category4.style.color='rgba(0, 0, 0, 0.4)'
        category5.style.color='rgba(0, 0, 0, 0.4)'

    }

    // 책 읽기 클릭 시
    function categoryClick3(){
        category1.style.color='rgba(0, 0, 0, 0.4)'
        category2.style.color='rgba(0, 0, 0, 0.4)'
        category3.style.color='#048D3B'
        category4.style.color='rgba(0, 0, 0, 0.4)'
        category5.style.color='rgba(0, 0, 0, 0.4)'

    }
    // 놀이터 클릭 시
    function categoryClick4(){
        category1.style.color='rgba(0, 0, 0, 0.4)'
        category2.style.color='rgba(0, 0, 0, 0.4)'
        category3.style.color='rgba(0, 0, 0, 0.4)'
        category4.style.color='#048D3B'
        category5.style.color='rgba(0, 0, 0, 0.4)'

    }
    // 견학/체험 클릭 시
    function categoryClick5(){
        category1.style.color='rgba(0, 0, 0, 0.4)'
        category2.style.color='rgba(0, 0, 0, 0.4)'
        category3.style.color='rgba(0, 0, 0, 0.4)'
        category4.style.color='rgba(0, 0, 0, 0.4)'
        category5.style.color='#048D3B'

    }
</script>
</html>