<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/layout/footer.css}" />
  <link rel="stylesheet" th:href="@{/css/layout/header.css}" />
  <link rel="stylesheet" th:href="@{/css/customerService/question/inqueryBoardForm.css}" />
  <title>문의하기 작성 폼(부모)</title>
</head>

<body>
  <!-- 헤더 -->
  <div th:replace="~{/layout/header_parents :: header_parents}"></div>

  <div id="wrapper">
    <form class="board-form" method="post" th:action="@{/ask/write}" th:object="${question}">
      <!-- 페이지 전체 제목 -->
      <div class="page-title-wrap">
        <h1>문의하기</h1>
        <p>부모가 관리자에게 수업 및 전문가에 관한 질의를 하는 게시판입니다.</p>
      </div>

      <!-- 목록 보기 버튼 -->
      <div class="list-btn-wrap">
        <a th:href="@{/ask/list}">목록보기</a>
      </div>

      <!-- 부모 pk -->
      <input type="hidden" name="parentNumber" th:value="${parentNumber}" />
      <!-- 게시글 제목 -->
      <div class="post-title-wrap">
        <label for="title-input">제목</label>
        <input type="text" th:field="*{questionTitle}" id="title-input" />
      </div>

      <!-- 게시글 내용 -->
      <div class="post-content-wrap">
        <label for="content-input">내용</label>
        <textarea th:field="*{questionContent}" id="content-input"></textarea>
      </div>

      <!-- 공개, 비공개 여부 체크박스 -->
      <div class="available-view-wrap">
        <h1>열람 가능여부 체크</h1>
        <div class="radio-btn-wrap">
          <div>
            <input id="public" type="radio"
                   name="view-possible"
                   value="공개"
                   th:field="*{questionReadingCheck}"
            />
            <div class="my-checkbox"></div>
            <label for="public">공개</label>
          </div>
          <div>
            <input id="private" type="radio"
                   name="view-possible"
                   value="비공개"
                   th:field="*{questionReadingCheck}"
            />
            <div class="my-checkbox"></div>
            <label for="private">비공개</label>
          </div>
        </div>
      </div>

      <!-- 게시글 등록 버튼 -->
      <div class="post-submitBtn-wrap">
        <button type="submit">문의하기</button>
      </div>
    </form>
  </div>

  <!-- 푸터  -->
  <div th:replace="~{/layout/footer :: footer}"></div>

  <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
  <script th:src="@{/js/motion.js}"></script>
</body>

</html>