<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/customerService/question/question.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">

    <title>IDOLL봄</title>
</head>

<body>
    <div th:replace="~{/layout/header_parents :: header_parents}"></div>

        <div id="container">
            <div class="question">
                <h2>문의하기</h2>
                <p>문의사항에 대해 답변해 드립니다</p>

                <!-- 문의하기 작성 폼으로 이동 -->
                <p><a th:href="@{/ask/write}">문의하기</a></p>

                <!-- 문의하기 전체 목록 -->
                <dl class="question_item" th:each="question : ${questionList}" th:object="${question}">
                    <!-- 문의하기 제목 -->

                    <!-- 공개, 비공개든 자신이 작성한 문의 글은 조회가 가능하도록 한다. -->
                    <!-- 단, 비공개라면 다른 사람이나 비회원을 조회가 불가능하도록 한다. -->
<!--                    <dt th:classappend="${!visibleList.contains(question.questionNumber)} ? 'disabled' : ''">-->
                    <dt th:classappend="*{answerNumber != null} ? '' : 'disabled'">
                        <input type="hidden" th:value="${question.answerNumber}" />
                        <span>Q.</span>
                        <!-- 작성자와 로그인 한 계정의 pk가 같다면 내용 보여주도록 -->
                        <span
                                th:text="*{questionContent}"
                        >
                        </span>
<!--                              th:text="${parentNumber == question.parentNumber} ? *{questionContent} : '비공개 글입니다.'"-->
<!--                            th:style="${!visibleList.contains(question.questionNumber)} ? 'color: red;' : 'color: black;'"-->
<!--                            th:text="${!visibleList.contains(question.questionNumber)} ?  '비공개 글입니다.' : *{questionContent}"-->
                        <!-- 문의하기 상태에 따라 출력되는 글자를 다르게 적용 -->
                        <button th:text="*{answerNumber != null} ? '답변 완료' : '답변 중'"
                                th:style="*{answerNumber != null} ? '' : 'opacity: 0.5;'"
                        ></button>
                        <button th:text="${!visibleList.contains(question.questionNumber)} ? '비공개' : '공개'"
                                th:style="${!visibleList.contains(question.questionNumber)} ? 'background-color: red;' : 'background-color: blue;'"
                        >
                        </button>
                        <span th:text="'[ 작성자 : ' + *{parentName} + ' ]'"></span>
                    </dt>

                    <!-- 문의 답변 내용 -->
                    <!-- 1. 작성자와 로그인 한 계정이 일치하거나 공개 글이고 -->
                    <!-- 2. 문의 답변 내용이 있어야만 볼 수 있도록 한다. -->
                    <dd th:if="${parentNumber == question.parentNumber} or
                        ${visibleList.contains(question.questionNumber)} and
                        *{answerContent != null}"
                    >
                        <span>A.</span>
                        <span class="answer_content" th:text="*{answerContent}"></span>
                    </dd>
                </dl>

                <!-- 문의하기 목록 체이징 처리 -->
                <ul class="pagination">
                    <li th:classappend="${startPage == 1} ? 'disabled' : ''" class="page-item">
                        <a class="page-link" th:href="@{/ask/list(pageNo=${startPage - 1}, pageSize=${pageSize})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${currentPage == i} ? 'active' : ''" class="page-item">
                        <a th:href="@{/ask/list(pageNo=${i}, pageSize=${pageSize})}" class="page-link" th:text="${i}"></a>
                    </li>

                    <li th:classappend="${endPage == totalPages} ? 'disabled' : ''" class="page-item">
                        <a class="page-link" th:href="@{/ask/list(pageNo=${endPage + 1}, pageSize=${pageSize})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

    <div th:replace="~{/layout/footer :: footer}"></div>

    <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
    <script th:src="@{/js/motion.js}"></script>
</body>
</html>