<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/payment/paymentcheck.css}">
    <link rel="stylesheet" th:href="@{/css/main/index_parents.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <title>결제확인</title>
</head>

<body>
<div th:replace="~{/layout/header_parents :: header}"></div>
    <!-- Main -->
    <div id="container">
        <div class="paycheck-container">
            <p class="paycheck-text">결제확인</p>
            <p class="paycheckps">결제 전 마지막으로 한번 더 확인해주세요.</p>
        </div>

        <!-- 나중에 value값들은 다 바꿔주기 -->
        <!-- method 뭔지도 나중에 적기 -->
        <form action="#">
            <div class="container">
                <!-- 수업 이미지 띄어주는 div -->
                <div class="class-container">
                    <div class="class-image-section">
                        <label class="image-label">수업이미지</label>
                        <img class="image" src="../images/kids1.jpg" alt="수업이미지">
                    </div>

                    <!-- 실제 선택한 수업 가져오는 div -->
                    <div class="class-details">
                        <div class="detail-item">
                            <label for="name">강사명</label>
                            <input type="text" class="form-control" id="name" value="모은서" readonly>
                        </div>

                        <div class="detail-item">
                            <label for="classname">수업제목</label>
                            <input type="text" class="form-control" id="classname" value="동화책 읽기" readonly>
                        </div>

                        <div class="detail-item">
                            <label for="classdate">수업 날짜</label>
                            <input type="text" class="form-control" id="classdate" value="2023-12-15" readonly>
                        </div>

                        <div class="detail-item">
                            <label for="classtime">수업 시간</label>
                            <input type="text" class="form-control" id="classtime" value="오후 2시" readonly>
                        </div>

                        <div class="detail-item">
                            <label for="money">결제 금액</label>
                            <input type="text" class="form-control" id="money" value="₩50,000" readonly>
                        </div>
                    </div>
                </div>

                <!-- 아이 선택하는 div -->
                <div class="class-container">
                    <div class="child-select">
                        <h3 class="child-select-label">아이 선택</h3>
                        <p class="child-select-description">수업을 들을 아이를 선택해주세요.</p>
                    </div>

                    <div class="child-select">
                        <label for="childlists" class="form-label">아이 선택</label>
                        <select name="childlists" id="childlists" class="selectBox">
                            <option value="none">===아이 선택===</option>
                            <option th:each="kid : ${kids}" th:text="${kid.childName}"></option>
                        </select>
                    </div>
                </div>

                <!-- 버튼 부분 -->
                <div class="button-container">
                    <!-- 이 부분을 누르면 이전페이지로 -->
                    <button class="btn btn-back">뒤로가기</button>
                    <!-- 얘를 누르면 카카오페이로 넘어감 -->
                    <button class="btn" type="submit">결제하기</button>
                </div>
            </div>
        </form>
    </div>
<div th:replace="~{/layout/footer :: footer}"></div>
</body>
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
<script th:src="@{/js/motion.js}"></script>
</html>