<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/payment/paymentcheck.css}">
    <link rel="stylesheet" th:href="@{/css/main/index_parents.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <title>결제확인</title>
</head>

<body>
<div th:replace="~{/layout/header_parents :: header}"></div>
    <!-- Main -->
    <div id="container">
        <div class="paycheck-container">
            <p class="paycheck-text">결제확인</p>
            <p class="paycheckps">결제 전 마지막으로 한번 더 확인해주세요.</p>
        </div>

        <!-- 나중에 value값들은 다 바꿔주기 -->
        <!-- method 뭔지도 나중에 적기 -->
        <form>
            <div class="container">
                <!-- 수업 이미지 띄어주는 div -->
                <div class="class-container" th:object="${proInfo}">
                    <!-- 부모의 pk를 넘기기 위해 -->
                    <input type="hidden" name="parentNumber" id="parentId" th:value="${parentId}">
                    <div class="class-image-section">
                        <label class="image-label">수업이미지</label>
<!--                        <img class="image" th:src="@{/backImage/class/{filename}(filename=${proInfo.imageFileUrl})}" alt="수업이미지">-->
                        <img class="image" src="/backImage/class/${proInfo.imageFileUrl}" alt="수업이미지">
                    </div>

                    <!-- 실제 선택한 수업 가져오는 div -->
                    <div class="class-details">
                        <div class="detail-item">
                            <label for="name">강사명</label>
                            <input type="text" class="form-control" id="name" th:value="*{proName}" readonly>
                        </div>

                        <div class="detail-item">
                            <label for="classname">수업제목</label>
                            <input type="text" class="form-control" id="classname" th:value="*{className}" readonly>
                        </div>

                        <div class="detail-item">
                            <label for="classDate">수업 날짜</label>
                            <input type="text" class="form-control" th:value="${reservationInfo.reservationDate}" readonly>
                            <input type="hidden" name="reservationDateNumber" id="classDate" th:value="${reservationInfo.reservationDateNumber}">
                        </div>

                        <div class="detail-item">
                            <label for="classTime">수업 시간</label>
                            <input type="text" class="form-control" th:value="${reservationInfo.reservationTime} + '시'" readonly>
                            <input type="hidden" name="reservationTimeNumber" id="classTime" th:value="${reservationInfo.reservationTimeNumber}">
                        </div>

                        <div class="detail-item">
                            <label for="money">결제 금액</label>
                            <input type="text" class="form-control" id="money" th:value="*{classPaymentAccount}" readonly>
                        </div>
                    </div>
                </div>

                <!-- 아이 선택하는 div -->
                <div class="class-container">
                    <div class="child-select">
                        <h3 class="child-select-label">아이 선택</h3>
                        <p class="child-select-description">수업을 들을 아이를 선택해주세요.</p>
                    </div>

                    <div class="child-select">
                        <label for="childLists" class="form-label">아이 선택</label>
                        <select name="childNumber" id="childLists" class="selectBox">
                            <option value="none">===아이 선택===</option>
                            <option th:each="kid : ${kids}" th:value="${kid.childNumber}" th:text="${kid.childName}"></option>
                        </select>
                    </div>
                </div>

                <!-- 버튼 부분 -->
                <div class="button-container">
                    <!-- 이 부분을 누르면 이전페이지로 -->
                    <button type="button" class="btn btn-back" onclick="goBack()">뒤로가기</button>
                    <!-- 얘를 누르면 카카오페이로 넘어감 -->
                    <button class="btn kakaoPay" type="button">결제하기</button>
                </div>
            </div>
        </form>
    </div>
<div th:replace="~{/layout/footer :: footer}"></div>
</body>
<!--부트페이 쓰기위한 js 추가-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://js.bootpay.co.kr/bootpay-5.0.0.min.js" type="application/javascript"></script>
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
<script th:src="@{/js/motion.js}"></script>
<script th:src="@{/js/paymentcheck.js}"></script>
</html>