<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/pro/childfind.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <!-- 모달창 css -->
    <link rel="stylesheet" th:href="@{/css/modal/modalstyle.css}" />
    <link rel="stylesheet" th:href="@{/css/modal/letter.css}" />
    <script src="https://kit.fontawesome.com/96adc9c597.js" crossorigin="anonymous"></script>
    <title>아이찾기 페이지</title>
</head>

<body>
    <!-- 헤더 부분 -->
    <div th:replace="~{/layout/header_pro :: header_pro}"></div>

    <!-- 아이찾기 화면 -->
    <div id="container">
        <div class="findchild-container">
            <p class="findchild-text">아이 찾기</p>
        </div>

        <!-- 아이찾기 메인 -->
        <table>
            <thead>
                <tr>
                    <th>수업명</th>
                    <th>부모 이름</th>
                    <th>쪽지</th>
                </tr>
            </thead>
            <tbody>
            <input type="hidden" name="proNumber" th:value="${proNumber}" />
                <tr th:each="save : ${saveList}" th:object="${save}">
                    <!-- 쪽지 보내기할 때, 필요할 것 같아서 추가 -->
                    <input type="hidden" name="parentNumber" th:value="*{parentNumber}" />
                    <td th:text="*{className}"></td>
                    <td th:text="*{parentName}"></td>
                    <td><button class="btn-open-modal"><i class="fa-regular fa-envelope"></i></button></td>
                </tr>
            </tbody>
        </table>

        <!-- 페이지 네비게이션바  -->
        <div class="class_save_btn">
            <ul class="pagination">
                <li th:classappend="${startPage == 1} ? 'disabled' : ''" class="page-item">
                    <a class="page-link" th:href="@{/pro/childlist(proNumber=${proNumber}, pageNo=${startPage - 1}, pageSize=${pageSize})}" aria-label="Previous">
                        <span>&laquo;</span>
                    </a>
                </li>

                <li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${currentPage == i} ? 'active' : ''" class="page-item">
                    <a th:href="@{/pro/childlist(proNumber=${proNumber}, pageNo=${i}, pageSize=${pageSize})}" class="page-link" th:text="${i}"></a>
                </li>

                <li th:classappend="${endPage == totalPages} ? 'disabled' : ''" class="page-item">
                    <a class="page-link" th:href="@{/pro/childlist(proNumber=${proNumber}, pageNo=${endPage + 1}, pageSize=${pageSize})}" aria-label="Next">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- 쪽지보내기 모달창 -->
        <form action="#" method="post">
            <div class="modal">
                <div class="modal-body profile-body">
                    <div class="header">
                        <img class="img" th:src="@{/images/logo.png}" alt="로고">
                        <h3 id="title">쪽지 보내기</h3>
                        <button id="close-btn"><img class="x-btn" th:src="@{/images/closebtn.png}" alt="닫기버튼"></button>
                    </div>
                    <div class="mb-3">
                        <label for="parent" class="form-label">부모님</label>
                        <input id="parent" type="parent" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="textarea" class="form-label">내용</label>
                        <textarea id="textarea" class="form-control" placeholder="수업 후기를 작성해주세요." rows="6"
                            maxlength="500"></textarea>
                    </div>

                    <div class="modal-btn">
                        <!-- 추가하기를 누르면 새로운 페이지로 이동 -->
                        <button class="close-btn btn">취소하기</button>
                        <button class="add-btn btn" type="submit">보내기</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- 푸터 -->
<!--    <div th:replace="~{/layout/footer :: footer}"></div>-->

</body>
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
<script th:src="@{/js/modal.js}"></script>
<!--<script th:src="@{/js/sendNote.js}"></script>-->

</html>