<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/parent/prolist.css}">
    <title>전문가 리스트</title>
</head>

<body>
    <div id="container">
        <div class="notice">
            <h2>전문가</h2>
            <p>IDOLL봄의 전문가들을 찾아보세요.</p>

            <table>
                <tbody>
                    <tr th:each="pro_info : ${pro_infos}" th:object="${pro_info}">

                        <!-- 전문가 이름 -->
                        <td><b th:text="*{proName}"></b></td>

                        <!-- 전문가 소개 -->
                        <td th:text="*{proIntro}">저랑 함께 재밌는 수업을 해봐요.</td>

                        <!-- 전문가 이미지 -->
                        <td><img th:src="@{/images/{proProfileImageUrl}(proProfileImageUrl=*{proProfileImageUrl})}" alt="강사이미지"></td>

                        <!-- 전문가 프로필 상세보기로 이동 -->
                        <td><a th:href="@{/pro/detail(proNumber=*{proNumber})}">더 보기</a></td>
                    </tr>
                </tbody>
            </table>

            <!-- 페이징 처리 -->
            <ul class="pagination">
                <li th:classappend="${startPage == 1} ? 'disabled' : ''" class="page-item">
                    <a class="page-link" th:href="@{/parentmain/prolist(pageNo=${startPage - 1}, pageSize=${pageSize})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${currentPage == i} ? 'active' : ''" class="page-item">
                    <a th:href="@{/parentmain/prolist(pageNo=${i}, pageSize=${pageSize})}" class="page-link" th:text="${i}"></a>
                </li>

                <li th:classappend="${endPage == totalPages} ? 'disabled' : ''" class="page-item">
                    <a class="page-link" th:href="@{/parentmain/prolist(pageNo=${endPage + 1}, pageSize=${pageSize})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</body>
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
<script th:src="@{/js/motion.js}"></script>

</html>