<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../static/css/parent/review.css" />
  <title>전문가 상세보기 페이지</title>
</head>

<body>
  <div id="wrapper">
    <div class="page-title-wrap">
      <h1>전문가</h1>
      <p>OOO전문가의 프로필 상세보기입니다.</p>
    </div>

    <!-- 전문가 정보 -->
    <div class="pro-detaillist">
      <table>
        <tbody>
          <tr>
            <td>조용준</td>
            <td><img src="#" alt="강사이미지"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 목록 보기 버튼 -->
    <div class="list-btn-wrap">
      <a href="../html/prolist.html">목록 보기</a>
    </div>

    <div class="board-form" th:object="${pro_info}">
      <!-- 전문가 이름 -->
      <div class="post-title-wrap">
        <h1>전문가 이름</h1>
        <input th:field="*{proName}" type="textarea" value="조용준" readonly />
      </div>

      <!-- 전문가 소개글 -->
      <div class="post-content-wrap">
        <h1>전문가 소개</h1>
        <textarea th:field="*{proIntro}" readonly>안녕하세요~~ 저는 아이돌봄에서 OOO 수업을 맡고 있는 조용준이라고 합니다. 여러분의 아이를 저의 아이라는 생각으로 돌보고 있습니다. 믿고 맡겨주세요.
            
            경력: OOO대학교 유아교육과 4년제 졸업
            자란다 10년 근무
            IDOLL봄 5년째 근무
            
            자격증: 유아체육 지도사
            유아국악 지도사
            보육교사 2급
        </textarea>
      </div>

      <!-- 추가한 html -->
      <!-- 리뷰 전체 목록 -->
      <div class="review-list-wrap">
        <h1>리뷰 리스트</h1>
        <ul class="review-list">
          <li class="review-item" th:each="review : ${reviews}" th:object="${review}">
            <input type="hidden" th:field="*{reviewNumber}" />
            <textarea th:field="*{reviewContent}" name="review-content" class="review-content" readonly>리뷰1</textarea>
            <div>
              <p>작성자 : <span th:text="*{parentName}"></span></p>
              <p>등록일 : <span th:text="*{reviewRegisterDate}"></span></p>
              <p>수정일 : <span th:text="*{reviewUpdateDate}"></span></p>
            </div>
            <a href="#"><button>수정</button></a>
            <a href="#"><button>삭제</button></a>
          </li>
          <!-- 이 아래코드는 반복되는 코드 -->
          <li class="review-item">
            <textarea name="" class="review-content" readonly>리뷰2</textarea>
            <a href="#"><button>수정</button></a>
            <a href="#"><button>삭제</button></a>
          </li>
          <li class="review-item">
            <textarea name="" class="review-content" readonly>리뷰3</textarea>
            <a href="#"><button>수정</button></a>
            <a href="#"><button>삭제</button></a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</body>

</html>