<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/parent/review.css}" />
  <title>전문가 상세보기 페이지</title>
</head>

<body>
  <div id="wrapper">
    <div class="page-title-wrap">
      <h1>전문가</h1>
      <p><span th:text="${pro_info.proName}"></span> 전문가의 프로필 상세보기입니다.</p>
    </div>

    <!-- 목록 보기 버튼 -->
    <div class="list-btn-wrap">
      <!-- 강사 리스트 페이지로 이동 -->
      <a th:href="@{/parentmain/prolist}">목록 보기</a>
    </div>

    <div class="board-form" th:object="${pro_info}">
      <!-- 전문가 이미지 -->
      <div class="pro-detaillist">
        <table>
          <tr>
            <td><img th:src="@{'/images/' + *{proProfileImageUrl}}" alt="강사이미지"></td>
          </tr>
        </table>
      </div>

      <!-- 전문가 이름 -->
      <div class="post-title-wrap">
        <h1>전문가 이름</h1>
        <input th:field="*{proName}" type="text" readonly />
      </div>

      <!-- 전문가 소개글 -->
      <div class="post-content-wrap">
        <h1>전문가 소개</h1>
        <textarea th:field="*{proIntro}" readonly></textarea>
      </div>
    </div>

      <!-- 추가한 html -->
      <!-- 리뷰 전체 목록 -->
    <div class="review-list-wrap">
      <h1>리뷰 리스트</h1>
      <ul class="review-list">
        <li class="review-item" th:each="review : ${reviews}" th:object="${review}">
          <h1>수업명 : <span th:text="*{className}"></span></h1>
          <input type="hidden" th:value="*{reviewNumber}" />
          <textarea th:text="*{reviewContent}" name="review-content" class="review-content" readonly></textarea>
          <div>
            <p>작성자 : <span th:text="*{parentName}"></span></p>
            <div th:if="*{reviewRegisterDate == reviewUpdateDate}">
              <p>작성일 : <span th:text="*{#temporals.format(reviewRegisterDate, 'yy년 M월 d일 HH시 mm분')}"></span></p>
            </div>
            <div th:unless="*{reviewRegisterDate == reviewUpdateDate}">
              <p>작성일 : <span th:text="*{#temporals.format(reviewUpdateDate, 'yy년 M월 d일 HH시 mm분')} + ' (수정)' "></span></p>
            </div>
          </div>
        </li>
      </ul>
      <button>더 보기</button>
    </div>

  </div>

</body>

</html>