<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/board/community.css}">
    <link rel="stylesheet" th:href="@{/css/main/index_parents.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <title>IDOLL봄</title>
</head>

<body>
<div th:replace="~{/layout/header_parents :: header}"></div>
    <div id="container">
        <div class="community">
            <h2>자유게시판(부모)</h2>
            <p>우리 아이에게 필요한 소식을 자유롭게 공유합니다.</p>

            <div class="community_search">
                <p><a th:href="@{/parentcommunity/write}">작성하기</a></p>

                <!-- 검색 말고 조회순, 최시순으로 해보자 -->
                <div>
                    <form>
                        <select>
                            <option>전체</option>
                            <option>제목</option>
                            <option>내용</option>
                        </select>

                        <input type="text" placeholder="검색어를 입력해주세요">
                        <input type="image" th:src="@{/images/comu_search.png}" alt="검색하기">
                    </form>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th class="number">이미지</th>
                    <th class="title">제목</th>
                    <th class="title">게시글 상세</th>
                    <th class="writer">작성자</th>
                </tr>
                </thead>
                <tbody>
                    <!-- 실제로는 반복 돌릴 리스트 보기 편하게 다 붙여놓음 -->
                    <tr th:each="community : ${communities}">
                        <td><img th:src="@{/images/{filename}(filename=${community.parentProfileImageUrl})}" alt="프로필"></td>
                        <td th:text="${community.parentPostTitle}"></td>
                        <td><a th:href="@{/parentcommunity/detail/{parentPostNumber}(parentPostNumber=*{community.parentPostNumber})}">자세히 보기</a></td>
                        <td th:text="${community.parentNickname}"></td>
                    </tr>
                </tbody>
            </table>

            <!-- 페이징 처리 부분  -->
            <div class="community_btn">
                <ul class="pagination">
                    <li th:classappend="${startPage == 1} ? 'disabled' : ''" class="page-item">
                        <a class="page-link" th:href="@{/parentcommunity(pageNo=${startPage - 1}, pageSize=${pageSize})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${currentPage == i} ? 'active' : ''" class="page-item">
                        <a th:href="@{/parentcommunity(pageNo=${i}, pageSize=${pageSize})}" class="page-link" th:text="${i}"></a>
                    </li>

                    <li th:classappend="${endPage == totalPages} ? 'disabled' : ''" class="page-item">
                        <a class="page-link" th:href="@{/parentcommunity(pageNo=${endPage + 1}, pageSize=${pageSize})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<div th:replace="~{/layout/footer :: footer}"></div>
</body>
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
<script th:src="@{/js/motion.js}"></script>
</html>