<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>자유 게시판 상세보기(부모)</title>

  <!-- 자유게시판 상세보기 css -->
  <link rel="stylesheet" th:href="@{/css/board/freeBoardDetail.css}" />
  <!-- 신고하기 css -->
  <link rel="stylesheet" th:href="@{/css/modal/report.css}" />
  <link rel="stylesheet" th:href="@{/css/modal/modalstyle.css}" />
</head>

<body>
  <div id="wrapper">
    <div class="page-title-wrap">
      <h1>게시판 상세보기</h1>
    </div>

    <!-- 목록 보기 버튼 -->
    <div class="list-btn-wrap">
      <button type="button" onclick="back()">목록 보기</button>
    <!-- 신고하기 버튼은 작성자와 다를때만 표시 -->
      <a class="report-btn btn-open-modal" style="display: flex" th:if="${parentId!=community.parentNumber}">신고하기</a>
    </div>
    <div class="board-form" id="postContainer" th:object="${community}">
      <!-- 현재 작성자의 신고횟수 -->
      <input type="hidden" id="reportCount" name="reportCount" th:value="${reportCount}">

      <!-- 현재 작성자가 누구인지 -->
      <input type="hidden" name="parentNumber" th:value="${community.parentNumber}" readonly>
      <!-- 게시글 번호 -->
      <div class="post-number-wrap">
        <h1>번호</h1>
        <input type="text" name="parentPostNumber" th:value="*{parentPostNumber}" readonly>
      </div>

      <!-- 게시글 제목 -->
      <div class="post-title-wrap">
        <h1>제목</h1>
        <input type="text" th:value="*{parentPostTitle}" readonly>
      </div>

      <!-- 게시글 내용 -->
      <div class="post-content-wrap">
        <h1>내용</h1>
        <textarea th:text="*{parentPostContent}" readonly></textarea>
      </div>

      <!-- 게시글 작성자 -->
      <div class="post-writer-wrap">
        <h1>작성자</h1>
        <input type="text" th:value="*{parentNickName}" readonly />
      </div>

      <!-- 게시글 작성일 -->
      <div class="post-RegisterDate-wrap">
        <h1>작성일</h1>
        <input type="text" th:if="*{parentPostRegisterDate == parentPostUpdateDate}" th:value="${#temporals.format(community.parentPostUpdateDate, 'yy년 M월 d일 HH시 mm분')}" readonly />
        <input type="text" th:unless="*{parentPostRegisterDate == parentPostUpdateDate}" th:value="${#temporals.format(community.parentPostUpdateDate, 'yy년 M월 d일 HH시 mm분')} + '(수정됨)'" readonly />
      </div>

      <!-- 게시글 조회수 -->
      <div class="post-views-wrap">
        <h1>조회수</h1>
        <input type="text" th:value="*{parentPostViews}" readonly />
      </div>

      <!-- 게시글 첨부파일(다운로드 가능) -->
      <!-- 다운로드는 각 로컬pc에 다운로드 되도록 -->
      <div class="post-files-wrap" th:if="${not #lists.isEmpty(files)}">
        <h1>첨부파일</h1>
        <!-- 첨부파일 영역 -->
        <ul class="file-area">
          <li th:each="file : ${files}" th:object="${file}">
            <a th:href="@{/download/{parentFileNumber}(parentFileNumber=*{parentFileNumber})}" th:text="*{parentFileOriginName}"></a>
            <span th:text="*{parentFileSize / 1024 + 'KB'}"></span>
          </li>
        </ul>
      </div>
    </div>

    <!-- 현재 로그인한 id값을 넘겨주기 위함    -->
    <input type="hidden" name="loginId" th:value="${parentId}">
    <!-- 게시글 수정 및 삭제 버튼 -->
    <div class="btn-style" style="display: flex" th:if="${parentId==community.parentNumber}">
        <div class="post-btn-wrap">
          <button class="update" onclick="goUpdate()">수정</button>
          <button class="delete" onclick="goDelete()">삭제</button>
        </div>
    </div>

      <!-- 게시글 댓글 영역 -->
      <!-- 댓글 작성 영역 -->
      <form method="post" id="comment-write-area">
        <div sec:authorize="isAuthenticated()">
          <label for="commentContent">댓글 남기기</label>
          <textarea id="commentContent" placeholder="여기에 댓글을 입력하세요."></textarea>
        </div>
        <button type="button" onclick="addComment()">댓글 작성</button>
      </form>

      <!-- 댓글 리스트 영역 -->
    <h1>댓글 목록</h1>
      <div class="comment-list">
        <div class="comment-card">
          <div class="comment-body">
            <div class="comment-title"></div>
            <div class="comment-subtitle"></div>
            <p class="comment-text"></p>
            <!-- 수정, 삭제 버튼 -->
            <div class="comment-actions">
              <button onclick="">수정</button>
              <button onclick="">삭제</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 신고하기 모달창 -->
    <form th:action="@{/parentcommunity/report}" method="post">
      <input type="hidden" name="parentPostNumber" th:value="${community.parentPostNumber}">
      <div class="modal">
        <div class="modal-body profile-body">
          <div class="header">
            <img class="img" src="../../images/logo.png" alt="로고">
            <h3 id="title">신고하기</h3>
            <button type="button" id="close-btn"><img class="x-btn" src="../../images/closebtn.png" alt="닫기버튼"></button>
          </div>

          <div class="mb-3">
            <label for="reportType" class="form-label">신고유형</label>
            <select id="reportType" class="selectBox form-control" name="reportType">
              <option value="권리침해">권리침해</option>
              <option value="허위정보">허위정보</option>
              <option value="사칭피해">사칭피해</option>
              <option value="불법촬영물">불법촬영물</option>
            </select>
          </div>
          <div class="report-container">
            <label for="textarea" class="form-label reporttext">신고내용</label>
            <textarea id="textarea" name="reportForm" class="form-control" placeholder="신고내용을 적어주세요." rows="6"></textarea>
          </div>
          <div class="modal-btn">
            <!-- 추가하기를 누르면 새로운 페이지로 이동 -->
            <button type="button" class="close-btn btn">취소하기</button>
            <button class="add-btn btn" type="submit">신고하기</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script th:src="@{/js/report.js}"></script>
  <script th:src="@{/js/detail.js}"></script>
</body>
</html>