<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/myPage/parent/mypage_payment.css}">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <link rel="stylesheet" th:href="@{/css/modal/modalstyle.css}">
    <link rel="stylesheet" th:href="@{/css/modal/letter.css}">
    <title>iDollbom_마이페이지</title>
</head>

<body>
<div th:replace="~{/layout/header_pro :: header_pro}"></div>

<div class="container">
        <div class="inincontainer">
            <div class="mypage-main">마이페이지 > 결제 내역</div>
            <!-- 사이드바 -->
            <div class="incontainer">
                <div class="menu-bar">
                    <div class="menu-bar-option">
                        <a th:href="@{/proMyPage/profile}">내정보 수정</a>
                    </div>
                    <hr class="custom-hr">
                    <div class="menu-bar-option">
                        <a th:href="@{/proMyPage/proClass}">내 수업 목록</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/proMyPage/report}">신고 목록</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/proMyPage/MyPost}">내가 쓴 게시글</a>
                    </div>
                    <hr class="custom-hr">
                    <div class="menu-bar-option">
                        <p>캘린더</p>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/proMyPage/myNote}">쪽지함</a>
                    </div>
                    <div class="myprofile" th:object="${proInfo}">
                        <div class="profileimage">
                            <img src="#" alt="profileImage" class="img" th:src="*{proProfileImageUrl}" />
                        </div>
                        <div class="Nickname">
                            <div th:text="*{proNickname}"></div>
                        </div>

                    </div>
                </div>
                <!-- 쪽지함 -->
                <div class="mainbox">
                    <div class="payment_container ">
                        <h1>쪽지목록</h1>
                        <table class="payment-table">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>부모 이름</th>
                                    <th>쪽지 내용</th>
                                    <th>전송 날짜</th>
                                </tr>
                            </thead>
                            <tbody th:if="${not #lists.isEmpty(noteList)}" >
                                <tr th:each="note, i : ${noteList}"
                                    th:value="${note.parentNoteNumber}" class="mail"
                                    th:data-mail-number="${note.parentNoteNumber}" onclick="openModal(this)"
                                    th:if="${i.index < 5}"
                                >
                                    <td th:text="${i.count}"></td>
                                    <td th:text="${note.parentName}"></td>
                                    <td th:text="${note.parentNoteContent}"></td>
                                    <td th:text="${#temporals.format(note.parentNoteSendTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#">더 보기</a>
                    </div>
                </div>
                    <div class="modal" >
                        <div class="modal-body profile-body">
                            <div class="header">
                                <img class="img" src="/images/logo.png" alt="로고">
                                <h3 id="title">쪽지 보기</h3>
                                <button id="close-btn"><img class="x-btn" src="/images/closebtn.png" alt="닫기버튼"></button>
                            </div>
                            <div class="mb-3">
                                <label for="parent" class="form-label">강사</label>
                                <input type="parent" id="parent" class="form-control" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="textarea" class="form-label">내용</label>
                                <textarea id="textarea" class="form-control" placeholder="수업 후기를 작성해주세요." rows="6"
                                          maxlength="500"></textarea>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <!-- 푸터 -->
    <div id="footer" th:replace="~{/layout/footer :: footer}"></div>

    <script th:src="@{/js/mail.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>