<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <link rel="stylesheet" th:href="@{/css/myPage/pro/propage_proPost.css}">
    <title>전문가 게시판 페이지</title>
</head>

<body>
    <!-- 프로 메인 네비바 -->
    <div th:replace="~{/layout/header_pro :: header_pro}"></div>

    <div class="container">
        <div class="inincontainer">
            <div class="mypage-main">마이페이지 > 내가 쓴 게시글</div>
            <div class="incontainer">
                <div class="menu-bar">
                    <div class="menu-bar-option">
                        <a th:href="@{/proMyPage/profile}">내정보 수정</a>
                    </div>
                    <hr class="custom-hr">
                    <div class="menu-bar-option">
                        <a th:href="@{/proMyPage/proClass}">내 수업 목록</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/proMyPage/report}">신고 목록</a>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/proMyPage/MyPost}">내가 쓴 게시글</a>
                    </div>
                    <hr class="custom-hr">
                    <div class="menu-bar-option">
                        <p>캘린더</p>
                    </div>
                    <div class="menu-bar-option">
                        <a th:href="@{/proMyPage/myNote}">쪽지함</a>
                    </div>
                    <div class="myprofile" th:object="${proInfo}">
                        <div class="profileimage">
                            <img src="#" alt="profileImage" class="img" th:src="*{proProfileImageUrl}" />
                        </div>
                        <div class="Nickname">
                            <div th:text="*{proNickname}"></div>
                        </div>
                    </div>
                </div>

                <!-- 게시글을 누르면 나오는 화면 -->
                <div class="mainbox">
                    <a th:each="post : ${posts}" >
                        <div class="mypost" th:if="${not #lists.isEmpty(posts)}">
                            <div th:text="${post.proPostTitle}"></div>
                            <div th:text="${post.proPostContent}"></div>
                            <p th:text="${#temporals.format(post.proPostRegisterDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
                        </div>
                    </a>
                    <p th:if="${#lists.isEmpty(posts)}">저장한 게시글이 아직 없습니다.</p>
                </div>
            </div>
        </div>

        <!-- 팝업 배경 -->
        <div class="popup-bg" id="popup-bg" onclick="closePopup()"></div>
    </div>

    <script>
        function showPopup() {
            document.getElementById('popup').style.display = 'block';
            document.getElementById('popup-bg').style.display = 'block';
        }

        function closePopup() {
            document.getElementById('popup').style.display = 'none';
            document.getElementById('popup-bg').style.display = 'none';
        }
    </script>

    <!-- footer -->
    <div id="footer" th:replace="~{/layout/footer :: footer}"></div>

</body>

</html>