<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.proMapper.ChildFindMapper">

    <!-- 특정 전문가의 수업을 찜한 모든 부모 조회 -->
    <select id="selectAllParent" resultType="ChildFindDTO">
        SELECT
            P.PARENT_NAME,
            P.PARENT_NUMBER,
            P.PARENT_EMAIL,
            SAVE.CLASS_NAME,
            SAVE.CLASS_CONTENT,
            SAVE.CLASS_CATEGORY_BIG,
            SAVE.CLASS_CATEGORY_SMALL
        FROM (
                 SELECT *
                 FROM (
                          SELECT
                              P.*,
                              C.CLASS_NUMBER,
                              C.CLASS_NAME,
                              C.CLASS_CATEGORY_BIG,
                              C.CLASS_CATEGORY_SMALL,
                              C.CLASS_CONTENT,
                              C.CLASS_PAYMENT_ACCOUNT,
                              C.CLASS_REGISTER_DATE
                          FROM PRO P JOIN CLASS C
                            ON P.PRO_NUMBER = #{proNumber}
                            AND P.PRO_NUMBER = C.PRO_NUMBER
                      ) CLASS JOIN CLASS_SAVE S
                        ON CLASS.CLASS_NUMBER = S.CLASS_NUMBER
             ) SAVE JOIN PARENT P
        ON SAVE.PARENT_NUMBER = P.PARENT_NUMBER
        AND SAVE.PARENT_NUMBER = P.PARENT_NUMBER
    </select>

</mapper>