<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.myPagemapper.parentmapper.classSaveMapper">
    <!-- 찜 전체목록 조회 -->
    <select id="selectAll">
        SELECT cv.*, cl.*, im.*
        FROM class_save cv
                 LEFT JOIN class cl ON cv.class_number = cl.class_number
                 LEFT JOIN img im ON im.class_number = cl.class_number
        WHERE cv.parent_number = #{parentNumber}
    </select>

    <!-- 수업 신청하기 페이지에서 찜 목록 버튼으로 수업 찜 목록 추가 -->
    <insert id="insertClassSave">
        INSERT INTO CLASS_SAVE (CLASS_NUMBER, PARENT_NUMBER)
        VALUES(#{classNumber}, #{parentNumber})
    </insert>

    <!-- 수업 찜목록 삭제 -->
    <delete id="deleteClass">
        delete class_save
        where class_number =#{classNumber}
    </delete>

    <!-- 수업 신청하기 페이지에서 찜 목록 버튼으로 수업 찜 목록 삭제 -->
    <delete id="deleteClassSave">
        delete class_save
        where class_number = #{classNumber}
        and parent_number = #{parentNumber}
    </delete>
</mapper>