<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.applymapper.ClassReviewMapper">
    <!-- 특정 전문가의 모든 수업에 대한 리뷰를 조회 -->
    <!-- 전문가 프로필 내 하단에 뿌려질 데이터 -->
    <select id="selectAllReview" resultType="ReviewAllListDTO">
        SELECT
            CLASS.PRO_NUMBER,
            CLASS.REVIEW_NUMBER,
            CLASS.REVIEW_CONTENT,
            CLASS.REVIEW_EVALUTION_POINT,
            CLASS.REVIEW_REGISTER_DATE,
            CLASS.REVIEW_UPDATE_DATE,
            CLASS.CLASS_NUMBER,
            P.PRO_NUMBER
        FROM (
                 SELECT *
                 FROM CLASS C JOIN REVIEW R
                       ON C.CLASS_NUMBER = R.CLASS_NUMBER
                       AND C.CLASS_NUMBER = #{classNumber}
             ) CLASS JOIN PRO P
        ON CLASS.PRO_NUMBER = P.PRO_NUMBER;
    </select>

    <!-- 특정 전문가의 하나의 수업에 대한 모든 리뷰 조회 -->
    <select id="selectOneAllReview" resultType="ReviewOneListDTO">
        SELECT LIST.*, P.PARENT_NAME
        FROM (
                SELECT
                    r.REVIEW_NUMBER,
                    r.REVIEW_CONTENT,
                    r.REVIEW_EVALUTION_POINT,
                    r.REVIEW_REGISTER_DATE,
                    r.REVIEW_UPDATE_DATE,
                    r.PARENT_NUMBER
                FROM class c JOIN review r
                    ON c.CLASS_NUMBER = r.CLASS_NUMBER
                    AND c.CLASS_NUMBER = #{classNumber}
                ORDER BY r.REVIEW_UPDATE_DATE desc
        ) LIST JOIN PARENT P
        ON LIST.PARENT_NUMBER = P.PARENT_NUMBER
    </select>

    <!-- 특정 전문가 수업의 리뷰 추가하기 -->


    <!-- 특정 전문가 수업의 리뷰 수정하기 -->

    <!-- 특정 전문가 수업의 리뷰 삭제하기 -->
</mapper>