<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.myPagemapper.parentmapper.noteMapper">
    <select id="selectNoteById">
        select *
        from parent_note pn
                 join pro pr on pn.pro_number = pr.pro_number
        where parent_number = #{parentNumber}
    </select>

    <select id="selectNoteByNoteId">
        select *
        from parent_note pn join pro pr on pn.pro_number = pr.pro_number
        where parent_note_number = #{parentNoteNumber}
    </select>

    <!-- 쪽지 목록 조회 (전문가) -->
    <select id="selectNoteByProId" resultType="NoteListDTO">
        SELECT PN.PARENT_NOTE_NUMBER,
               P.PARENT_NAME,
               PN.PARENT_NOTE_CONTENT,
               PN.PARENT_NOTE_SEND_TIME
        FROM PARENT P JOIN PARENT_NOTE PN ON P.PARENT_NUMBER = PN.PARENT_NUMBER
                      JOIN PRO PR ON PR.PRO_NUMBER = PN.PRO_NUMBER
        WHERE PN.PRO_NUMBER = #{proNumber}
    </select>

    <!-- 쪽지 목록 카운트 (전문가) -->
    <select id="countProNoteList">
        select count(*)
        from PARENT_NOTE
        where PRO_NUMBER = #{proNumber}
    </select>

    <!-- 쪽지 목록 카운트 (부모) -->
    <select id="countParentNoteList">
        select count(*)
        from PARENT_NOTE
        where PARENT_NUMBER = #{parentNumber}
    </select>

    <!-- 전문가가 보낸 쪽지 부모 쪽지 목록에 추가 -->
    <insert id="insertNote">
        insert into PARENT_NOTE (PARENT_NOTE_NUMBER, PARENT_NOTE_CONTENT, PARENT_NOTE_SEND_TIME, PARENT_NOTE_ALARM_CHECK,
                                 PARENT_NUMBER, PRO_NUMBER)
        values (SEQ_PROJECT.NEXTVAL, #{parentNoteContent}, sysdate, '미확인', #{parentNumber}, #{proNumber})
    </insert>
</mapper>
