<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.boardmapper.ParentReportMapper">
    <!-- 신고하기 눌렀을 때 -->
    <!-- 신고테이블 insert -->
    <insert id="insertReport">
        INSERT INTO PARENT_REPORT
        VALUES(SEQ_PROJECT.nextval, #{parentReportType}, #{parentReportContent}, sysdate, #{parentPostNumber})
    </insert>

    <!-- 해당 게시글의 작성자pk를 가지고 오기 위한 select -->
    <select id="selectParentById">
        SELECT PARENT_NUMBER
        FROM PARENT_POST
        WHERE PARENT_POST_NUMBER = #{parentPostNumber}
    </select>
    <!-- 해당 게시글을 작성한 작성자 신고횟수 +1 -->
    <update id="plusReport">
        UPDATE PARENT
        SET PARENT_REPORT_COUNT = PARENT_REPORT_COUNT + 1
        WHERE PARENT_NUMBER = #{parentNumber}
    </update>

    <!-- 해당 게시글 작성자가 신고 횟수 select -->
    <select id="reportCount">
        SELECT DISTINCT p.PARENT_REPORT_COUNT
        FROM PARENT p
        JOIN PARENT_POST p2 ON p.PARENT_NUMBER = p2.PARENT_NUMBER
        WHERE p2.PARENT_NUMBER = #{parentNumber}
    </select>
</mapper>