<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.loginmapper.ParentMapper">

<!--    회원 가입   -->
    <insert id="insert" parameterType="ParentVO">
        insert into parent (
        PARENT_NUMBER,
        PARENT_EMAIL,
        PARENT_PASSWORD,
        PARENT_NAME,
        PARENT_NICKNAME,
        PARENT_PHONE_NUMBER,
        PARENT_ADDRESS,
        ROLE)
        values (seq_project.NEXTVAL, #{parentEmail}, #{parentPassword}, #{parentName}, #{parentNickname}, #{parentPhoneNumber}, #{parentAddress}, 'parent')
    </insert>


    <!--    로그인    -->
    <select id="selectOne" parameterType="string">
        select * from parent
        where parent_email = #{parentEmail}
    </select>

    <select id="selectOneDTO" parameterType="string">
        select * from parent
        where parent_email = #{parentEmail}
    </select>

    <update id="updateInfo">
        update parent
        set PARENT_NAME=#{parentName},PARENT_PHONE_NUMBER=#{parentPhoneNumber},PARENT_ADDRESS = #{parentAddress},
            PARENT_NICKNAME=#{parentNickname}
        where PARENT_NUMBER =#{parentNumber}
    </update>

    <!-- 부모 정보 불러오기   -->
    <select id="selectParent">
        select * from parent
        where PARENT_NUMBER = #{parentNumber}
    </select>

    <select id="selectParentEmail">
        SELECT
            CASE
                WHEN COUNT(*) > 0 THEN #{parentEmail}
                ELSE NULL
                END AS result
        FROM parent
        WHERE parent_email = #{parentEmail}
    </select>

</mapper>