<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.boardmapper.ParentFileMapper">
    <!-- 첨부파일 추가 -->
    <insert id="insertFile">
        INSERT INTO PARENT_FILE
        VALUES (seq_project.nextval, #{parentFileName}, #{parentFileSize}, sysdate, #{parentPostNumber}, #{parentFileOriginName})
    </insert>

    <!-- 게시글 삭제 시, 첨부파일 삭제 -->
    <delete id="deleteFile">
        DELETE FROM PARENT_FILE
        WHERE PARENT_POST_NUMBER = #{parentPostNumber}
    </delete>

    <!-- 게시글 번호로 첨부파일 가져오기 -->
    <select id="selectFileList">
        SELECT
            PARENT_FILE_NUMBER,
            PARENT_FILE_ORIGIN_NAME,
            PARENT_FILE_NAME,
            PARENT_FILE_SIZE,
            PARENT_FILE_UPLOAD_TIME,
            PARENT_POST_NUMBER
        FROM PARENT_FILE
        WHERE PARENT_POST_NUMBER = #{parentPostNumber}
    </select>

    <!-- 파일 다운로드를 위한 select -->
    <select id="getFileById">
        SELECT
            PARENT_FILE_NUMBER,
            PARENT_FILE_ORIGIN_NAME,
            PARENT_FILE_NAME,
            PARENT_FILE_SIZE,
            PARENT_FILE_UPLOAD_TIME,
            PARENT_POST_NUMBER
        FROM PARENT_FILE
        WHERE PARENT_FILE_NUMBER = #{parentFileNumber}
    </select>

    <!-- 부모정보 사진update   -->
    <update id="updatePic">
        update parent
        set parent_profile_image_url = #{parentPrifileImageUrl}
        WHERE parent_number=#{parentNumber}
    </update>
</mapper>