<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.proMapper.ProDetailMapper">

    <!-- 전문가 프로필 상세보기  -->
    <select id="selectProDetail" resultType="ProDetailDTO">
        select * from PRO
        where PRO_NUMBER = #{proNumber}
    </select>

    <!-- 전문가의 모든 리뷰 조회 -->
    <!-- 리뷰 작성자 정보와 수업명이 있어야 한다. -->
    <select id="selectAllReviewList">
        SELECT
            PA.PARENT_NAME,
            RE.REVIEW_NUMBER,
            RE.REVIEW_CONTENT,
            RE.REVIEW_REGISTER_DATE,
            RE.REVIEW_UPDATE_DATE,
            RE.PARENT_NUMBER,
            RE.CLASS_NUMBER,
            RE.CLASS_NAME
        FROM(
                SELECT
                    R.REVIEW_NUMBER,
                    R.REVIEW_CONTENT,
                    R.REVIEW_REGISTER_DATE,
                    R.REVIEW_UPDATE_DATE,
                    R.PARENT_NUMBER,
                    R.CLASS_NUMBER,
                    DETAIL.CLASS_NAME
                FROM (
                         SELECT *
                         FROM PRO P JOIN CLASS C
                            ON P.PRO_NUMBER = C.PRO_NUMBER
                            AND P.PRO_NUMBER = #{proNumber}
                     ) DETAIL JOIN REVIEW R
                        ON DETAIL.CLASS_NUMBER = R.CLASS_NUMBER
        ) RE JOIN PARENT PA
            ON RE.PARENT_NUMBER = PA.PARENT_NUMBER
    </select>

    <!-- 전문가 로그인 처리하여 아이찾기 페이지로 proNumber 넘기기 -->
    <select id="selectOne">
        select * from pro
        where pro_number = #{proNumber}
    </select>

    <!-- 전문가의 모든 수업 조회 -->
    <select id="selectMyClass">
        select * from class
        where pro_number = #{proNumber}
    </select>

    <!-- 전문가의 모든 신고 조회  -->
    <select id="selectProReport">
        SELECT pr.PRO_REPORT_NUMBER,
               pr.PRO_REPORT_CONTENT,
               pr.PRO_REPORT_REGISTER_DATE,
               pr.PRO_POST_NUMBER,
               pp.PRO_NUMBER,
               pp.PRO_POST_TITLE
        FROM pro_report pr
                 LEFT JOIN pro_post pp ON pr.PRO_POST_NUMBER = pp.PRO_POST_NUMBER
        WHERE pp.PRO_NUMBER = #{proNumber}
    </select>

    <!-- 전문가의 내가쓴 모든 게시글 조회 -->
    <select id="selectProPost">
        SELECT * from pro_post
        where pro_number = #{proNumber}
    </select>

    <!--    전문가의 내 정보 조회-->
    <select id="selectProPrivate">
        select * from pro
        where pro_number = #{proNumber}
    </select>
</mapper>