<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.proMapper.ProDetailMapper">

    <!-- 전문가 프로필 상세보기  -->
    <select id="selectProDetail" resultType="ProDetailDTO">
        select * from pro
        where PRO_NUMBER = #{proNumber}
    </select>

    <!-- 전문가의 모든 리뷰 조회 -->
    <select id="selectAllReviewList" resultType="ProReviewListDTO">
        SELECT
            R.REVIEW_NUMBER,
            R.REVIEW_CONTENT,
            R.REVIEW_REGISTER_DATE,
            R.REVIEW_UPDATE_DATE,
            R.PARENT_NUMBER,
            R.CLASS_NUMBER
        FROM (
                 SELECT *
                 FROM PRO P JOIN CLASS C
                    ON P.PRO_NUMBER = C.PRO_NUMBER
                    AND P.PRO_NUMBER = #{proNumber}
             ) DETAIL JOIN REVIEW R
                ON DETAIL.CLASS_NUMBER = R.CLASS_NUMBER;
    </select>

    <!-- 전문가의 모든 수업 조회 -->
    <select id="selectMyClass">
        select * from class
        where pro_number = #{proNumber}
    </select>

    <!-- 전문가의 모든 신고 조회  -->
    <select id="selectProReport">
        SELECT pr.PRO_REPORT_NUMBER,
               pr.PRO_REPORT_CONTENT,
               pr.PRO_REPORT_REGISTER_DATE,
               pr.PRO_POST_NUMBER,
               pp.PRO_NUMBER,
               pp.PRO_POST_TITLE
        FROM pro_report pr
                 LEFT JOIN pro_post pp ON pr.PRO_POST_NUMBER = pp.PRO_POST_NUMBER
        WHERE pp.PRO_NUMBER = #{proNumber}
    </select>

    <!-- 전문가의 내가쓴 모든 게시글 조회 -->
    <select id="selectProPost">
        SELECT * from pro_post
        where pro_number = #{proNumber}
    </select>
</mapper>