<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.proMapper.ProDetailMapper">

    <!-- 전문가 프로필 상세보기  -->
    <select id="selectProDetail" resultType="ProDetailDTO">
        select * from PRO
        where PRO_NUMBER = #{proNumber}
    </select>

    <!-- 전문가의 모든 리뷰 조회 -->
    <!-- 리뷰 작성자 정보와 수업명이 있어야 한다. -->
    <select id="selectAllReviewList">
        SELECT
            RESULT.PARENT_NAME,
            RESULT.REVIEW_NUMBER,
            RESULT.REVIEW_CONTENT,
            RESULT.REVIEW_REGISTER_DATE,
            RESULT.REVIEW_UPDATE_DATE,
            RESULT.PARENT_NUMBER,
            RESULT.CLASS_NUMBER,
            RESULT.CLASS_NAME
        FROM (
                SELECT
                    PA.PARENT_NAME,
                    RE.REVIEW_NUMBER,
                    RE.REVIEW_CONTENT,
                    RE.REVIEW_REGISTER_DATE,
                    RE.REVIEW_UPDATE_DATE,
                    RE.PARENT_NUMBER,
                    RE.CLASS_NUMBER,
                    RE.CLASS_NAME,
                    ROW_NUMBER() OVER (ORDER BY RE.REVIEW_REGISTER_DATE) AS RN
                FROM(
                        SELECT
                            R.REVIEW_NUMBER,
                            R.REVIEW_CONTENT,
                            R.REVIEW_REGISTER_DATE,
                            R.REVIEW_UPDATE_DATE,
                            R.PARENT_NUMBER,
                            R.CLASS_NUMBER,
                            DETAIL.CLASS_NAME
                        FROM (
                                 SELECT *
                                 FROM PRO P JOIN CLASS C
                                    ON P.PRO_NUMBER = C.PRO_NUMBER
                                    AND P.PRO_NUMBER = #{proNumber}
                        ) DETAIL JOIN REVIEW R
                        ON DETAIL.CLASS_NUMBER = R.CLASS_NUMBER
                ) RE JOIN PARENT PA
                ON RE.PARENT_NUMBER = PA.PARENT_NUMBER
            ) RESULT
        WHERE RESULT.RN &lt;= 3
    </select>

    <!-- 전문가 로그인 처리하여 아이찾기 페이지로 proNumber 넘기기 -->
    <select id="selectOne">
        select * from pro
        where pro_number = #{proNumber}
    </select>

    <!-- 전문가의 모든 수업 조회 -->
    <select id="selectMyClass">
        select * from class
        where pro_number = #{proNumber}
    </select>

    <!-- 전문가의 모든 신고 조회  -->
    <select id="selectProReport">
        SELECT pr.PRO_REPORT_NUMBER,
               pr.PRO_REPORT_CONTENT,
               pr.PRO_REPORT_REGISTER_DATE,
               pr.PRO_POST_NUMBER,
               pp.PRO_NUMBER,
               pp.PRO_POST_TITLE
        FROM pro_report pr
                 LEFT JOIN pro_post pp ON pr.PRO_POST_NUMBER = pp.PRO_POST_NUMBER
        WHERE pp.PRO_NUMBER = #{proNumber}
    </select>

    <!-- 전문가의 내가쓴 모든 게시글 조회 -->
    <select id="selectProPost">
        SELECT * from pro_post
        where pro_number = #{proNumber}
    </select>

    <!-- 모든 전문가 리스트 조회 -->
    <select id="selectAllProList" resultType="ProListDTO">
        SELECT *
        FROM (
                SELECT ROWNUM AS RN, PRO_INFO.*
                FROM (
                    SELECT
                        P.PRO_NUMBER,
                        P.PRO_EMAIL,
                        P.PRO_NAME,
                        P.PRO_PROFILE_IMAGE_URL,
                        P.PRO_FILE,
                        P.PRO_INTRO
                    FROM PRO P
                ) PRO_INFO
            WHERE ROWNUM &lt;= #{endRow}
        )
        WHERE RN &gt; #{startRow}
    </select>

    <!-- 전문가 총인원 수 -->
    <select id="getProCount">
        SELECT COUNT(DISTINCT P.PRO_NUMBER)
        FROM PRO P JOIN CLASS C ON P.PRO_NUMBER = C.PRO_NUMBER
                 JOIN REVIEW R ON C.CLASS_NUMBER = R.CLASS_NUMBER
        WHERE R.CLASS_NUMBER IS NOT NULL
    </select>

    <!--    전문가의 내 정보 조회-->
    <select id="selectProPrivate">
        select * from pro
        where pro_number = #{proNumber}
    </select>

    <select id="selectOneDTO">
        select * from pro
        where pro_email = #{proEmail}
    </select>

    <!-- 전문가 프로필 update   -->
    <update id="updateImg">
        update pro
        SET pro_profile_image_url = #{proProfileImageUrl}
        WHERE pro_number = #{proNumber}
    </update>

    <update id="update" parameterType="proVO">
        update pro
        SET pro_name = #{proName}, pro_phone_number=#{proPhoneNumber}, pro_nickname=#{proNickname}, pro_intro=#{proIntro}, pro_file=#{proFile}
        WHERE pro_number = #{proNumber}
    </update>
</mapper>