<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.idollbom.mapper.loginmapper.ProMapper">
    <!-- 프로 정보를 가져오기 위함 -->
      <select id="selectPro">
          select * from pro
          where pro_email = #{proEmail}
      </select>

     <!-- 회원가입 -->
    <insert id="insert">
        insert into PRO (PRO_NUMBER, PRO_EMAIL, PRO_PASSWORD, PRO_NAME, PRO_NICKNAME, PRO_PHONE_NUMBER, PRO_ADDRESS, PRO_PROFILE_IMAGE_URL,
                         PRO_FILE, PRO_INTRO, ROLE)
        values (SEQ_PROJECT.NEXTVAL, #{proEmail}, #{proPassword}, #{proName}, #{proNickName}, #{proPhoneNumber}, #{proAddress}, #{proProfileImageUrl} ,#{proFile}, #{proIntro}, 'pro')
    </insert>

    <!-- 비밀번호 변경   -->
    <update id="updatePassword">
        update pro
        SET pro_password = #{proPassword}
        WHERE pro_number = #{proNumber}
    </update>

    <!-- pro 찾기  -->
    <select id="selectOne" parameterType="string">
        select * from pro
        where parent_email = #{proEmail}
    </select>

</mapper>
